/**
 * 0 - GENERALITES
 * 1 - HEADER
 *
 *
 */


/**
 *
 * 0 - GENERALITES
 *
 */

*{
	margin: 0;
	padding: 0;
}

body{
	background: #ccc;
	font-size: 20px;
}


/**
 *
 * 1 - HEADER
 *
 */

@import '_header.scss';



